# ignore all __pycache__ directories
*__pycache__/* 

# ignore all .pyc files
*.pyc 

# ignore all __init__.py files
__init__.py 

# ignore the data directory and all its contents
data/

# ignore virtual environment directories
venv/
.env/
*.env