# ignore all __pycache__ directories
*__pycache__/* 

# ignore all .pyc files
*.pyc 

# ignore all __init__.py files
__init__.py 

# ignore all files in the data directory
data/ 

# ignore virtual environment directories
venv/
.env/
*.env